body {
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: green;
    overflow: hidden;
}

.duck {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px black;
}

.duck-two {
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    visibility: hidden;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    visibility: visible;
}

div {
    height: 200px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    transition: all 1s;
    position: absolute;
}

p {
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    color: red;
    background-color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: bold;
}

.span1 {
    color: red;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 1000;
    text-align: center;
    text-shadow:  0px 0px 2px rgb(255, 0, 0), 0px 0px 5px rgb(255, 255, 255);
}

.item {
    font-size: 15px;
    text-transform: uppercase;
}
